* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */

  --body-color: #e4e9f7;

  --sidebar-color: #fff;

  --primary-color: #695cfe;

  --primary-color-light: #f6f5ff;

  --toggle-color: #ddd;

  --text-color: #707070;

  /* ====== Transition ====== */

  --tran-03: all 0.2s ease;

  --tran-03: all 0.3s ease;

  --tran-04: all 0.3s ease;

  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;

  background-color: var(--body-color);

  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);

  color: #fff;
}

body.dark {
  --body-color: #18191a;

  --sidebar-color: #242526;

  --primary-color: #3a3b3c;

  --primary-color-light: #3a3b3c;

  --toggle-color: #fff;

  --text-color: #ccc;
}

/* ===== Sidebar ===== */

.sidebar {
  position: fixed;

  top: 0;

  left: 0;

  height: 100%;

  width: 250px;

  padding: 10px 14px;

  background: var(--sidebar-color);

  transition: var(--tran-05);

  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */

.sidebar li {
  height: 50px;

  list-style: none;

  display: flex;

  align-items: center;

  margin-top: 5px;
}

.sidebar header .imageprofil,
.sidebar .icon {
  min-width: 60px;

  border-radius: 6px;
}
.sidebar header .imageprofil {
  width: 60px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-image: url(/img/imgProdil.jpg);
  border-radius: 10px;
  margin-right: 10px;
}
.sidebar .icon {
  min-width: 60px;

  border-radius: 6px;

  height: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);

  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;

  font-weight: 500;

  white-space: nowrap;

  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;

  align-items: center;
}

.sidebar header .logo-text {
  display: flex;

  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;

  font-size: 18px;

  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;

  margin-top: -2px;

  display: block;
}

.sidebar header .image {
  display: flex;

  align-items: center;

  justify-content: center;
}

.sidebar header .image img {
  width: 40px;

  border-radius: 6px;
}

.sidebar header .toggle,
.togglemenu2 {
  position: absolute;

  top: 50%;

  right: -25px;

  transform: translateY(-50%) rotate(180deg);

  height: 25px;

  width: 25px;

  background-color: var(--primary-color);

  color: var(--sidebar-color);

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 22px;

  cursor: pointer;

  transition: var(--tran-05);
}
.togglemenu2 {
  display: none;
}
body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;

  background-color: var(--primary-color-light);

  cursor: pointer;

  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;

  width: 100%;

  outline: none;

  border: none;

  background-color: var(--primary-color-light);

  color: var(--text-color);

  border-radius: 6px;

  font-size: 17px;

  font-weight: 500;

  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;

  height: 100%;

  background-color: transparent;

  display: flex;

  align-items: center;

  height: 100%;

  width: 100%;

  border-radius: 6px;

  text-decoration: none;

  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;

  background-color: var(--primary-color-light);

  position: relative;

  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;

  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;

  right: 0;

  height: 100%;

  min-width: 60px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 6px;

  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;

  height: 22px;

  width: 40px;

  border-radius: 25px;

  background-color: var(--toggle-color);

  transition: var(--tran-05);
}

.switch::before {
  content: "";

  position: absolute;

  height: 15px;

  width: 15px;

  border-radius: 50%;

  top: 50%;

  left: 5px;

  transform: translateY(-50%);

  background-color: var(--sidebar-color);

  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;

  top: 0;

  top: 0;

  left: 250px;

  height: 100vh;

  width: calc(100% - 250px);

  background-color: var(--body-color);

  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;

  font-weight: 500;

  color: var(--text-color);

  padding: 12px 60px;
}

.hovername {
  color: var(--primary-color) !important;
}
.sidebar.close ~ .home {
  left: 78px;

  height: 100vh;

  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}
/* design after click one of the list li */
.hover {
  background-color: var(--primary-color);
  border-radius: 10px;
}
.texthover {
  color: white !important;
}

/* design  link home  */
.logo-text .hometext {
  text-decoration: none;
}
.logo-text .username {
  text-decoration: none;
  font-size: 1em;
  color: var(--text-color);
}
.logo-text .username span:hover {
  font-size: 1.15em;
  color: var(--primary-color);
  transition: 0.2s;
}
.hoverusername {
  color: var(--primary-color) !important;
  font-size: 1.2em !important;
}

.logo-text .hometext span,
.logo-text .username span {
  color: var(--text-color);
}
.logo-text .hometext span:hover {
  color: var(--primary-color) !important;
}

/* partie main */

/* design button absences ,note text book */

.holder {
  position: relative;
  margin-top: 30px;

  display: flex;
}
.home .holder label {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
  color: #695cfe;
}
.home .holder label:hover {
  font-size: 1.3em;
  transition: 0.2s;
}
.home .holder .absences input {
  display: none;
}

.holder .holde1 {
  padding: 30px 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2), -2px -2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: white;
}
.holder .holde1 a {
  text-decoration: none;
  color: #695cfe;
}
.holder .holde1 a:hover {
  font-size: 1.25em;
  transition: 0.2s;
}

.holder .holde1 a i,
.home .holder label i {
  position: relative;
  font-size: 30px;
  margin-left: 45px;
  top: 5px;
}
.holder .holde1:hover {
  background-color: #9a9fad2f !important;
}

/* design text boook  */

.home #contenttextbook {
  position: absolute;
  margin-left: 10vw;
  top: 8vh;
  width: 80vw;
  border: none;
  height: 90vh;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2), -5px 5px 6px rgba(0, 0, 0, 0.2);
}
/* design  btn close textbook */
/*
*
*
*
*
*
*/

.resulttext .contentlesson {
  overflow-y: scroll;
  border: 4px solid #fa8072;
  border-left: none !important;
  padding-top: 10px;
  height: 85%;
}
.resulttext .physiq {
  border: 4px solid #3eb489 !important;
  border-left: none !important;
}
.resulttext .scienc {
  border: 4px solid #00ced1 !important;
  border-left: none !important;
}
.resulttext .islami {
  border: 4px solid #ffdb58 !important;
  border-left: none !important;
}
.resulttext .engli {
  border: 4px solid var(--primary-color) !important;
  border-left: none !important;
}
.resulttext .frenc {
  border: 4px solid #657383 !important;
  border-left: none !important;
}
.resulttext .arabi {
  border: 4px solid #b38481 !important;
  border-left: none !important;
}
.resulttext .spor {
  border: 4px solid #307d7e !important;
  border-left: none !important;
}
.resulttext .spor2 {
  border: 4px solid #c88141 !important;
  border-left: none !important;
}
.resulttext .addlesson {
  position: absolute;
  bottom: 5%;
}

.resulttext .addlesson a {
  text-decoration: none;
  padding: 15px 10px;
  font-size: 1.2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
}
.resulttext .addlesson a:hover {
  font-size: 1.4em;
  transition: 0.2s;
}
.resulttext .lesson {
  position: relative;
  height: auto;
  width: 98%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 5px;
}
.resulttext .lesson p {
  position: relative;
  margin-bottom: 10px;
}
.resulttext .lesson div {
  display: flex;
  justify-content: flex-end;
}
.resulttext .lesson div a {
  text-decoration: none;
  padding: 15px 10px;
  background-color: #3a3b3c;
  color: #fff;
  border-radius: 10px;
  margin-left: 10px;
}
.resulttext .lesson div a i {
  font-size: 1.3em;
}
.resulttext .lesson div a:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

/*
*
**
*
*
*
*/
.home #contenttextbook .closetext i {
  position: absolute;
  font-size: 35px;
  right: 0px;
  font-weight: 600;
  cursor: pointer;
}
.home #contenttextbook .main-content {
  position: relative;
  top: 33px;
  width: 100%;
  height: 90%;
}
/* design btn models */
.home #contenttextbook .main-content .othermodel {
  width: 10%;
  float: right;
  height: 200px;
}
.home #contenttextbook .main-content .othermodel a,
.homeprofil .container .group ul li a,
.home .contentnotes .modeles a {
  text-decoration: none;

  position: relative;
  display: block;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  top: 20px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
  padding: 10px 10px;
  font-weight: 600;
}

/*
*
*
*
**
**
*/
/* deseign btn of the class */

.homeprofil .container .group ul li a {
  top: 0px !important;
  background-color: #657383 !important;
  border-radius: 10px !important;
  font-size: 1.1em;
  /* padding: 15px 10px !important; */
}
.homeprofil .container .group ul li a i {
  font-size: 1.2em;
}
.homeprofil .container .group ul li a:hover {
  font-size: 1.3em !important;
  transition: 0.2s;
}

/*
**
*
*
*
*
*/

/* design the color of the btn */
.math {
  background-color: #fa8072 !important;
}
.physique {
  background-color: #3eb489 !important;
}
.science {
  background-color: #00ced1 !important;
}
.sport {
  background-color: #307d7e !important;
}
.sport2 {
  background-color: #c88141 !important;
}
.arabic {
  background-color: #b38481 !important ;
}
.french {
  background-color: #657383 !important;
}
.islamia {
  background-color: #ffdb58 !important;
}

/* design affichage conenut de cahier text */
.resulttext {
  width: 85%;
  height: auto;
  height: 98% !important;
  margin-top: 5px;
  border-left: none !important;
}

/* design btn  absences And Delay */
/*
*
*
*
*
*
*/

.contentabsences {
  position: absolute;
  top: 25%;
  width: 45%;
  height: 55%;
  left: 3%;
  display: none;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2), -5px 5px 6px rgba(0, 0, 0, 0.2);
}
.contentabsences::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-90px);
  border: 15px solid;
  border-color: transparent transparent white transparent;
}

/* design card absences or deley */

.contentabsences .cardeabsences {
  position: relative;
  display: flex;
  margin-top: 10px;
  align-items: baseline;
  justify-content: space-around;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.contentabsences .cardeabsences h2 {
  position: relative;
  font-weight: 400;
  /* margin-right: 10px; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.3em;
}

.contentabsences .cardeabsences .time {
  margin-left: 10px;
}

.contentabsences .cardeabsences .justifie a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  top: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding: 10px 10px;
  margin-right: 10px;
  font-weight: 600;
}
.contentabsences .cardeabsences .justifie i {
  font-size: 25px;
  margin-left: 40px;
}

/* design btn View Alll */

.contentabsences .view {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary-color);
}
.contentabsences .view a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  padding: 25px 15px;
}

/* design schedule of the student  */
/*
*
*
*
*
*
*/
.textschedule {
  position: relative;
  padding-left: 7% !important;
  color: #695cfe !important;
}
.textschedule span {
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 2px solid #fff;
}

.home .contentetud .table {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin-left: 4%;
  width: 60%;
  height: 500px;
  margin-top: 3%;
  border-radius: 10px;
  background-image: url(./table.png);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-size: cover;
}
.home .contentetud .grouptable {
  margin-top: 5px !important;
  height: 400px !important;
}
/* design home analyse statistics
  index.html
*
*
*/
.home .togglemenu {
  display: none;
}

.home .mainindex {
  position: relative;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 1%;
  margin-left: auto;
  margin-right: auto;
}
.schedule {
  display: none;
}

.home .mainindex .etud1 {
  position: relative;
  margin-bottom: 20px;
}
.home .mainindex .etud1 h2 {
  text-align: center;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  padding: 15px 10px;
}

.home .mainindex .etud1 .contentStatistics {
  position: relative;
  width: 90%;
  height: 270px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  justify-content: space-between;
}
.home .mainindex .etud1 .contentStatistics .absencesanddelay,
.home .mainindex .etud1 .contentStatistics .resultnote {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -6px -6px 10px rgba(0, 0, 0, 0.2);
}
.home .mainindex .etud1 .contentStatistics .absencesanddelay:hover,
.home .mainindex .etud1 .contentStatistics .resultnote:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.home .mainindex .etud1 .contentStatistics .absencesanddelay h4,
.home .mainindex .etud1 .contentStatistics .resultnote h4 {
  text-align: center;
  margin-top: 10px;
}

/* design Regeistration form in add Profil */
/*
*
*
*
*
*
*
*/
.container {
  position: relative;
  top: 20px;
  max-width: 60vw;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}
.containerprofil {
  top: 17% !important;
  max-width: 60vw;
  width: 100%;
  height: 70vh !important;
}
.container .title,
.container .title span {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.homeprofil .headermobile {
  position: absolute;
  opacity: 0;
}

.homeprofil .container {
  margin-top: 1%;
  margin-bottom: 2%;
  border-right: 4px solid #657383 !important;
}
/* .homeprofil .container .title {
  text-align: center !important;
} */
/* .homeprofil .container .title::before {
  left: 47% !important;
} */
.homeprofil .container .group {
  margin-top: 2%;
  display: flex;
  /* border: 2px solid rebeccapurple; */
  justify-content: flex-start;
}
.homeprofil .container .group ul li {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* design the update picture */
/*
*
*
*
*
*/

.editepicture,
.editepicturemobile {
  background-color: var(--body-color);
  width: auto;
  height: auto;
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-direction: column;
  padding-left: 5px;
  padding-top: 5px;
}
.editepicture {
  position: absolute;
  left: -161px;

  top: -40px;
  /* box-shadow: 4px 4px 6px #fff; */
}

.editepicture i {
  margin-left: 5px;
  margin-right: 5px;
}
.editepicture label,
.editepicturemobile label,
.editepicture a,
.editepicturemobile a {
  padding: 15px 10px;
  background-color: var(--primary-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border-top-right-radius: 5px; */

  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1.2em;
  cursor: pointer;
}
.editepicture a,
.editepicturemobile a {
  text-decoration: none;
  background-color: var(--text-color);
}
.editepicture label,
.editepicturemobile label {
  background-color: var(--primary-color);
}
.editepicture a:hover,
.editepicture label:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.editepicture input,
.editepicturemobile input {
  display: none;
}
.editepicturemobile {
  position: absolute;
  opacity: 0;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .picture {
  position: absolute;
  top: -22%;
  left: 40%;
}
.content form .picture .img {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #fff;
  background-image: url(./IMG_20200323_175334_433.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), -2px -2px 6px rgba(0, 0, 0, 0.2);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  /* border: 2px solid forestgreen; */
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* design a scrollbar   */
/*
*
*
*
*
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #695cfee1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #695cfeb4;
}

/* design the notes page */
/*
*
*
*
*
*
*/

.home .titlenote {
  position: relative;
  top: 2%;
  /* text-align: center; */
  margin-left: 10%;
}

.home .titlenote .btnleft {
  /* padding-left: 5px;
  padding-right: 5px; */
  text-decoration: none;
  font-size: 1.7em;
  padding: 5px 5px;
  color: black;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 10px;
  color: var(--sidebar-color);
}
.home .titlenote .btnleft i {
  cursor: pointer;
  font-size: 1.2em;
}
.home .titlenote .btnleft:hover {
  font-size: 1.9em;
  transition: 0.2s;
}

.home .titlenote span {
  position: relative;
  color: var(--text-color);
  font-size: 2.1em;
  margin-left: 1%;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  cursor: pointer;
}
.home .titlenote span:hover {
  color: var(--primary-color);
  font-size: 2.2em;
  transition: 1s;
}

/* design display note and models */
/*
*
*
*/
.home .contentnotes {
  position: relative;
  margin-top: 2%;
  width: 80%;
  height: 85%;
  background-color: #ffff;
  margin-left: auto;
  padding-right: 20px;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.25);
}
.home .contentnotes .modeles {
  position: relative;
  height: 100%;
  width: 13%;
  float: right;
}
.home .contentnotes .modeles a.thismodel::before {
  content: "";
  position: absolute;
  width: 78px;

  height: 6px;
  background-color: #fa8072;
  left: -64px;
}
.home .contentnotes .modeles a {
  border-bottom-right-radius: 10px;
  font-size: 1em;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.home .contentnotes .modeles a.thismodel {
  font-size: 1.3em;
}
.home .contentnotes .modeles a:hover {
  font-size: 1.3em;
  transition: 0.2s;
}
.home .contentnotes .result {
  position: relative;
  width: 85%;
  height: 100%;
  float: left;
  padding-top: 2%;
  padding-right: 3%;
}
.home .contentnotes .result .notes {
  position: relative;
  width: 100%;
  height: 33.33%;
}
.home .contentnotes .result .notes span {
  position: absolute;
  right: 2px;
  color: white;
  font-size: 1em;
  font-family: sans-serif;
  padding: 15px 10px;
  border: 2px solid #3a3b3c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
  background-color: #3a3b3c;
  z-index: 1;
}

.home .contentnotes .result .notes span.active {
  border: 2px solid #fa8072;
}
.home .contentnotes .result .notes span::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 128px;
  top: 50px;
  background-color: #3a3b3c;
  right: 50px;
  text-align: center;
  z-index: -2;
}

.home .contentnotes .result .notes span.active::after {
  background-color: #fa8072;
}

.home .contentnotes .result .notes .homework,
.home .contentnotes .result .notes .control,
.home .contentnotes .result .notes .average {
  position: relative;
  width: 80%;
  top: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
.home .contentnotes .result .notes .homework .yourresult,
.home .contentnotes .result .notes .control .yourresult,
.home .contentnotes .result .notes .average .yourresult {
  position: relative;
  float: right;
  text-align: center;
  width: 20%;
  top: 20px;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 10px;
  border-bottom: 2px solid black;
}

.home .contentnotes .result .notes .homework .yournote,
.home .contentnotes .result .notes .control .yournote,
.home .contentnotes .result .notes .average .yournote {
  position: relative;
  float: left;
  text-align: center;
  width: 70%;
  top: 10px;
  padding-left: 20%;
  display: flex;
  justify-content: flex-start;
}
.home .contentnotes .result .notes .homework .yournote p,
.home .contentnotes .result .notes .control .yournote p,
.home .contentnotes .result .notes .average .yournote p {
  position: relative;
  font-size: 1.2em;
  top: 5px;
  margin-left: 2%;
}
.headermobile .texthome {
  display: none;
}

/*
*
*
*
*/
/* design the table list of student page  */
.liststudent {
  padding-right: 0px !important;
  overflow-y: scroll;
}
.liststudent .student-table {
  position: relative;
  border-collapse: collapse;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  height: auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.student-table thead tr {
  inset: all;
}
.student-table thead tr {
  position: relative;
  background-color: #657383;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.student-table th,
.student-table td {
  padding: 12px 15px;
  cursor: pointer;
}

.student-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.student-table tbody tr a {
  text-decoration: none;
  color: black;
}
.student-table tbody tr a:hover {
  font-size: 1.3em;
  transition: 0.2s;
}
.student-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* .student-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.student-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.activeedite {
  color: #009879 !important;
}

/*
*
**
*
*
*
*/
/* deseign poste card for Advertisement */
.homeposte .container {
  border-left: 4px solid #657383;
  height: auto !important;
  margin-bottom: 10px;
}
.homeposte .container p {
  overflow: hidden;
}
.homeposte .container:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.homeposte .container .postimg {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 250px;
  border-radius: 10px;
  display: none;
}
/* design poste */
.homeposte .makeposte,
.hometextbool .makeposte {
  position: relative;
  width: 50%;
  height: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25), -4px -4px 6px rgba(0, 0, 0, 0.25);
}

.homeposte .makeposte form input,
.hometextbool .makeposte form input {
  inset: all;
}
.homeposte .makeposte form input,
.hometextbool .makeposte form input {
  border: none;
  padding: 15px 25px;
}
.homeposte .makeposte form input.titleposte,
.hometextbool .makeposte form input.titleposte {
  display: block;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1.7em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.homeposte .makeposte form textarea,
.hometextbool .makeposte form textarea {
  position: relative;
  width: 100%;
  height: 100px;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 1.3em;
  padding-left: 25px;
  margin-bottom: 10px;
}
.homeposte .makeposte form input.published,
.hometextbool .makeposte form input.published {
  position: absolute;
  right: 2px;
  bottom: 0;
  border-radius: 10px;
  display: inline-block !important;
  background-color: #657383;
  color: #fff;
  padding: 15px 5px;
  font-weight: 600;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.homeposte .makeposte form input.published:hover,
.hometextbool .makeposte form input.published:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

/* design the post add lesson after enter Add  lesson in text book page */

.hometextbool .makeposte {
  position: absolute;
  top: 20%;
  width: 50%;
  height: 350px;
  left: 15%;
  border: none;
  z-index: 2;
  display: none;
}
.hometextbool .makeposte .closewritelesson span i {
  font-size: 1.6em;
  cursor: pointer;
}
.hometextbool .makeposte .closewritelesson span i:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.hometextbool .makeposte textarea {
  position: relative;
  width: 100%;
  height: 50% !important;
  border: 2px solid green;
}

.hometextbool .makeposte .closewritelesson span i:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.hometextbool .makeposte textarea {
  position: relative;
  width: 100%;
  height: 50% !important;
  border: 2px solid green;
}

.LessonText {
  position: relative;
  display: flex;
  padding-right: 20px;
  flex-direction: row-reverse;

  white-space: pre-wrap;
  /*
	    word-wrap: break-all;
	    */
  word-break: break-all;
  line-height: 5px;
  direction: rtl !important;
}
