/* design add profil */
.containerAccount .change {
  position: absolute;
  top: 5%;
  right: 10%;
}
.containerAccount .change a {
  text-decoration: none;
  background-color: #657383 !important;
  padding: 15px 10px;
  background-color: var(--primary-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.2s;
}
.containerAccount .change:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
